# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Python / Brownie / test artifacts
__pycache__/
build/
reports/
.history/
.hypothesis/

# Environment variables
.env
.env.local
